<?xml version="1.0"?>
<config>
    <modules>
        <PayXpert_Connect2Pay>
            <version>1.0.0</version>
        </PayXpert_Connect2Pay>
    </modules>
    <global>
    	<models>
    		<connect2pay>
	    		<class>PayXpert_Connect2Pay_Model</class>
	    	</connect2pay>
    	</models>
    	<helpers>
    		<connect2pay>
    			<class>PayXpert_Connect2Pay_Helper</class>
    		</connect2pay>
    	</helpers>
    	<blocks>
            <connect2pay>
            	<class>PayXpert_Connect2Pay_Block</class>
            </connect2pay>
        </blocks>
        <resources>
            <connect2pay_setup>
                <setup>
                    <module>PayXpert_Connect2Pay</module>
                </setup>
                <connection>
                    <use>directory_setup</use>
                </connection>
            </connect2pay_setup>
            <connect2pay_write>
                <connection>
                    <use>local_write</use>
                </connection>
            </connect2pay_write>
            <connect2pay_read>
                <connection>
                    <use>local_read</use>
                </connection>
            </connect2pay_read>
        </resources>
      <events>
        <sales_order_creditmemo_refund>
          <observers>
            <issue_creditmemo_refund>
              <type>singleton</type>
              <class>PayXpert_Connect2Pay_Model_Observer</class>
              <method>issue_creditmemo_refund</method>
            </issue_creditmemo_refund>
          </observers>
        </sales_order_creditmemo_refund>
      </events>
		<payment>
			<groups>
				<payxpert>Connect2Pay</payxpert>
			</groups>
		</payment>
    </global>
    <frontend>
        <layout>
            <updates>
                <payxpert>
                    <file>payxpert.xml</file>
                </payxpert>
            </updates>
        </layout>
        <routers>
            <connect2pay>
                <use>standard</use>
                <args>
                    <module>PayXpert_Connect2Pay</module>
                    <frontName>payxpert</frontName>
                </args>
            </connect2pay>
        </routers>
        <secure_url>
            <connect2pay_redirect>/connect2pay/redirect/</connect2pay_redirect>
        </secure_url>
    </frontend>
	<default>
        <payment>
            <connect2pay>
                <active>1</active>
                <submit_url>1</submit_url>
                <model>connect2pay/checkout</model>
                <title>Pay by Credit Card with PayXpert</title>
                <originator></originator>
                <password></password>
                <url></url>
                <apiurl></apiurl>
                <sort_order>1</sort_order>
            </connect2pay>
        </payment>
    </default>
</config>
